
body {
	font-family: 'Limelight', cursive;
	background-image: url(../images/background6.jpeg);
	background-attachment: local
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#form {
	float: right;
	margin: 10px;
}

h1 {
	text-align: center;
	color: white;
}

#form {
	padding: 5px;
}

label {
	color: white;
}

p {
	color: white;
}

.imageDiv {
	float: left;
	margin: 5px;
}