
body {
	font-family: 'Limelight', cursive;
	background-image: url(../Images/background6.jpg);
	background-attachment: local;
	background-size: cover;

	
}
#form {
	float: right;
	margin: 10px;
}

h1 {
	text-align: center;
	color: white;
}

#form {
	padding: 5px;
}

label {
	color: white;
}

p {
	color: white;
}

.imageDiv {
	float: left;
	margin: 5px;
}